---
interface Props {
	pubDate: Date;
	author: string;
}

const { pubDate, author } = Astro.props;
import colors from "../config/colors.json";
---

<article
	class="prose prose-lg md:prose-xl prose-h2:text-2xl md:prose-h2:text-3xl prose-h2:mt-2 md:prose-h2:mt-6 prose-h2:mb-2 md:prose-h2:mb-4 prose-slate w-full max-w-full poppins p-4 md:p-6 rounded-lg bg-white dark:bg-black dark:prose-dark"
>
	<a href="/" title="Retour" class="hover:text-primary dark:hover:text-yellow-gold"
		>&larr; Retour</a
	>
	<p class="text-base md:text-lg">
		Publié le {pubDate} par {author}
	</p>
	<div>
		<slot />
	</div>
	<p>
		Écrit par {author}
	</p>
	<a href="/" title="Retour" class="hover:text-primary dark:hover:text-yellow-gold"
		>&larr; Retour</a
	>
</article>

<style>
	article :global(h1) {
		font-size: 1.5rem;
		margin-top: 1rem;
		margin-bottom: 0.5rem;
	}

	article :global(h2) {
		font-size: 1.25rem;
		margin-top: 1rem;
		margin-bottom: 0.5rem;
	}

	@media (min-width: 768px) {
		article :global(h1) {
			font-size: 1.875rem;
			margin-top: 2rem;
			margin-bottom: 1rem;
		}

		article :global(h2) {
			font-size: 1.5rem;
			margin-top: 2rem;
			margin-bottom: 1rem;
		}
	}
</style>
