---
interface Props {
	pubDate: Date;
	author: string;
}

const { pubDate, author } = Astro.props;
---

<article class="prose-slate dark:prose-invert w-sm md:w-prose md:prose poppins">
	<a
		href="/"
		title="Retour"
		class="dark:text-white hover:text-green dark:hover:text-green-400"
		>&larr; Retour</a
	>
	<p class="text-slate dark:text-gray-400 text-sm md:text-base">
		Publié le {pubDate} par {author}
	</p>
	<div class="dark:text-white">
		<slot />
	</div>
	<p class="text-slate dark:text-gray-400">Écrit par {author}</p>
	<a
		href="/"
		title="Retour"
		class="dark:text-white hover:text-green dark:hover:text-green-400"
		>&larr; Retour</a
	>
</article>
