---
interface Props {
  content: any;
}

const { content } = Astro.props;
---

<article class='prose-slate w-sm md:w-prose md:prose poppins'>
  <a href='/blog/' title='Retour au blog'>&larr; Retour au blog</a>
  <p class='text-slate text-sm md:text-base'>
    Publié le {content.pubDate} par {content.author}
  </p>
  <slot />
  <p class='text-slate'>Écrit par {content.author}</p>
  <a href='/blog/' title='Retour au blog'>&larr; Retour au blog</a>
</article>
